[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=$INSTALL_PATH/filters.sh
TryExec=
Icon=$INSTALL_PATH/filters.png
X-GNOME-DocPath=
Terminal=false
Name[en_US]=Open Language Tools XLIFF Filters
GenericName[en_US]=
Comment[en_US]=
Name[en]=Open Language Tools XLIFF Filters
GenericName[en]=
Comment[en]=
