[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=$INSTALL_PATH/translation.sh
Icon=$INSTALL_PATH/editor.png
Terminal=false

Name=Open Language Tools XLIFF Translation Editor
Name[en]=Open Language Tools XLIFF Translation Editor
Name[en_US]=Open Language Tools XLIFF Translation Editor
